<div class="conteiner">
  <div class="d-flex justify-content-center">
    <a>ширина - </a>
    <input class="text-center" placeholder="ширина"
           [(ngModel)]="dataService.width"
           (change)="generate(dataService.size)">
    <a>высота - </a>
    <input class="text-center" placeholder="высота"
           [(ngModel)]="dataService.height"
           (change)="generate(dataService.size)">
    <a>размер - </a>
    <input class="text-center" placeholder="размер"
           [(ngModel)]="dataService.size"
           (change)="generate(dataService.size)">
    <button class="btn btn-success" (click)="createForest()">лес</button>
  </div>
</div>
<div class="world" #world>
  <div
    *ngFor="let m of dataService.arrMapObj; let i = index"
  >
    <div class="world__meter"
         *ngFor="let n of m; let j = index"
         [ngStyle]="{'width': dataService.size + 'px', 'height': dataService.size + 'px'}"
    >
      <div class="image"
           [attr.coordX]="i"
           [attr.coordY]="j"
           [ngClass]="getClass(i, j)"
           (click)="clickMeter($event)"
      ></div>
    </div>
  </div>

</div>
