<div class="tenderLine container-fluid">
  <i>площадка тендеров</i>
  <div class="row">
    <div class="col-sm-auto" *ngFor="let iterArea of dataService.tenderAreas">
      <div class="area" >
        <h6> {{iterArea.name}}</h6>
        <h6><i class="fa fa-money"></i> {{iterArea.cost}}, <i class="fa fa-clock-o"></i> {{iterArea.tenderTime}} </h6>
        <hr>
        <a>объем стр-ва: {{iterArea.level}}</a><br>
        <a>время на постройку: {{iterArea.buildTime}}</a><br>
        <a>затраты и откаты: {{iterArea.rollback}} </a><br>
        <hr>
        <button class="btn btn-primary"
                #hiddenButton
                (click)="hiddenButton.hidden = true;
                  addButton.style.display = 'inline-block';
                  addRollback(iterArea)"
        ><i class="fa fa-handshake-o"></i> 50</button>
        <button class="btn btn-outline-success hidden"
                #addButton
                (click)="addRollback(iterArea)">
          <i class="fa fa-money"></i> 50</button>
      </div>
    </div>
  </div>
</div>
