<div class="areasLine container-fluid">
  <i>строительные объекты</i>
  <div class="row">
    <div class="col-sm-auto" *ngFor="let iterArea of dataService.constructAreas">
      <div class="area" [style.background]="getBackgroundArea(iterArea)">
        <h6>{{iterArea.name}}</h6>
        <h6><i class="fa fa-money"></i> {{iterArea.cost}}, <i class="fa fa-clock-o"></i> {{iterArea.buildTime}}</h6>
        <hr>
        <a>объем стр-ва: {{iterArea.level}}</a><br>
        <a>построено: {{iterArea.build  | number}}%</a><br>
        <a>строителей: {{iterArea.mans}} </a><br>
        <div class="btn-group">
          <button class="btn btn-outline-success" (click)="addWorker(iterArea, true)">+++</button>
          <button class="btn btn-outline-success" (click)="addWorker(iterArea)">+</button>
          <button class="btn btn-outline-danger" (click)="delWorker(iterArea)">-</button>
          <button class="btn btn-outline-danger" (click)="delWorker(iterArea, true)">---</button>
        </div>
        <hr>
        <a><i class="fa fa-cubes"></i> - {{iterArea.materials  | number}}%  |  </a>
        <a><i class="fa fa-truck"></i> - {{iterArea.trucks}} </a><br>
        <div class="indikator" [style.background]="getBackgroundIndicator(iterArea)"></div>
        <div class="btn-group">
          <button class="btn btn-outline-success" (click)="addTruck(iterArea, true)">+++</button>
          <button class="btn btn-outline-success" (click)="addTruck(iterArea)">+</button>
          <button class="btn btn-outline-danger" (click)="delTruck(iterArea)">-</button>
          <button class="btn btn-outline-danger" (click)="delTruck(iterArea, true)">---</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
